<h1>Pages#about</h1>
<!-- <p>Find me in app/views/pages/about.html.erb</p> -->

<p>Take me to:<br>
  <a href="/artists">Artists</a><br>
  <a href="/genres">Genres</a><br>
  <a href="/songs">Songs</a><br>
</p>
